* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background: rgb(0, 0, 0);
  min-height: 100vh;
}
#header {
  position: flex;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 8rem;
  padding: 0 1rem 5rem;
}

.header-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.logo {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.hamburger {
  display: none;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1200px;
}
.header-nav ul {
  display: flex;
}
.header-nav ul li a {
  background: #000000;
  display: block;
  color: #9e9898;
  padding: 20px 70px;
  text-decoration: none;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 650;
  border-radius: 50px;
  margin: 0 5px;
  transition: 0.6s ease;
}
.header-nav ul li a:hover {
  color: #682ae9;
}

.header-nav ul li a.active {
  color: white;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #ffffff;
    margin: 6px 0;
  }
  .header-nav {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #000000;
    transition: 0.2s;
    overflow: hidden;
  }
  .header-nav.active {
    height: 450px;
    margin: 0;
  }
  .header-nav ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .header-nav.active ul {
    opacity: 1;
  }
  .header-nav ul li a {
    margin-bottom: 12px;
  }
}

h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.name {
  color: #682ae9;
  font-size: 50px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.surname {
  color: #682ae9;
  font-size: 50px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.job {
  color: #54515a;
  font-size: 30px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 30px 0 0 0px;
}
.static-container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
@media screen and (max-width: 1024px) {
  .static-container {
    margin: 0 4rem 0 calc(4rem + 1px);
  }
}
@media screen and (max-width: 568px) {
  .static-container {
    margin: 0 2rem 0 calc(2rem + 1px);
  }
}

.process {
  margin: auto;
  font-size: 30px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  position: relative;
  display: inline-block;
  padding: 15px 50px;
  color: #682ae9;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}
.process:hover {
  color: #280548;
  background: #682ae9;
  box-shadow: 0 0 10px #682ae9, 0 0 40px #682ae9, 0 0 80px #682ae9;
}
.process:after {
  content: "HOVER ON ME";
}
.process:hover:after {
  content: "THIS PAGE IS IN PROCESS";
}
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px;
  margin-top: auto;
}
