* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background: #444444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
}
.logo {
  width: 100px;
}

.header-nav ul {
  position: relative;
  display: flex;
  gap: 150px;
}
ul li {
  position: relative;
  list-style: none;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
ul li a {
  position: relative;
  color: #c4c0c0;
  text-decoration: none;
  font-size: 2em;
  font-weight: 650;
  margin: 0 5px;
  transition: 0.5s;
}
ul li:hover a {
  font-size: 2.5em;
  color: #575d90;
  filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr))
    drop-shadow(0 0 60px var(--clr));
}
.header-nav.active {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  background: #444444;
  width: 100%;
  height: 50%;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }

  .static-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
  }
}
.fa-solid {
  display: none;
  font-size: 3em;
  color: #c4c0c0;
  cursor: pointer;
}

/* .static-container {
  position: relative;
  padding: calc(30vh - 10.5rem) 0 0;
  margin: 0 15vw;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "other" "card";
} */
.static-container {
  display: flex;
  padding: calc(30vh - 10.5rem) 0 0;
  margin: 0 15vw;
  min-height: 50vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#other {
  width: 50%;
}

@media (max-width: 767px) {
  #card,
  #other {
    width: 100%;
  }
}

.welcome {
  color: #c4c0c0;
  font-size: 70px;
  font-weight: 700;
}
h2 {
  color: #c4c0c0;
  font-size: 50px;
  font-weight: 700;
}
.namesur {
  font-size: 60px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #708090;
  background: url(images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.job {
  color: #575d90;
  font-size: 30px;
  font-weight: 700;
  padding: 30px 0 0 0px;
}
.cv {
  margin: 50px 0 0 0;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding: 15px 50px;
  color: #84a07c;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}
.cv:hover {
  color: #444444;
  background: #84a07c;
  box-shadow: 0 0 10px #84a07c, 0 0 40px #84a07c, 0 0 80px #84a07c;
}

.other {
  width: 750px;
  padding: 50px;
}
.card {
  background-color: #84a07c;
  padding: 20px;
  width: 25%;
  height: 500px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 10px;
  text-align: center;
  line-height: 28px;
}

.avatar {
  border-radius: 50px;
  width: 150px;
}
.card-name {
  position: relative;
  text-decoration: underline;
  text-decoration-color: #575d90;
  text-decoration-thickness: 5px;
}

.button {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background-color: #575d90;
  padding: 0.5em 1.25em;
  border-radius: 10px;
}
.button:hover {
  color: #ffffff;
  background-color: #000000;
}
.hobbies {
  color: rgb(64, 63, 63);
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: 510;
  font-family: "Serif roman", sans-serif;
}
.cesur {
  font-weight: 550;
}
footer {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  padding: 20px;
  margin-top: auto;
  font-weight: 500;
}

@media (max-width: 767px) {
  footer {
    flex-direction: column;
    gap: 0;
  }
}
.copy {
  margin-right: 20px;
}

.contact {
  margin-left: 20px;
}
