* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  transition: $transition;
}
img {
  display: block;
  width: auto;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}
a {
  display: block;
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
p a,
label a,
li a {
  display: inline;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
b,
strong {
  font-weight: 700;
}
li {
  list-style-type: none;
  font-family: inherit;
  color: inherit;
}
input,
textarea,
select {
  font-family: inherit;
}
label {
  display: block;
}
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
fieldset legend {
  margin-bottom: 10px;
}
.clear {
  clear: both;
}
.slider *::selection {
  background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}
html {
  height: 100%;
}
body {
  font-family: $rubik;
  background: $gray;
  min-height: 100%;
  height: 100%;
}
.container {
  width: calc(100% - 40px);
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  box-shadow: 0 0 5px $lightest-slate;
  border-radius: 34px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $lightest-slate;
}

input:focus + .slider {
  box-shadow: 0 0 5px $lightest-slate;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dot {
  color: $slate;
}

.fa-solid {
  display: none;
  font-size: 3em;
  color: #c4c0c0;
  cursor: pointer;
}
.light-mode {
  background: $white !important;
  .dot {
    color: $white !important;
  }
  .page-header {
    background-color: #929292 !important;
    &__logo {
      &:hover {
        filter: contrast(70%);
      }
    }
    a {
      color: $white !important;
      &:hover {
        color: $lightest-slate !important;
      }
    }
  }
  .main-container {
    background: $white !important;
    .left-side {
      &__text {
        h1,
        h2 {
          color: $light-gray !important;
        }
      }
      &__button {
        a {
          color: $light-gray !important;
          &:hover {
            color: $white !important;
          }
        }
      }
    }

    .right-side {
      background: $light-gray !important;
      &__photo {
        img {
          filter: none !important;
        }
      }
      &__text {
        h2 {
          color: $white !important;
        }
        p {
          color: $white !important;
        }
        a {
          color: $slate !important;
          background-color: #fff !important;
          &:hover {
            color: #fff !important;
            background-color: $lightest-slate !important;
          }
        }
      }
    }
  }

  .page-footer {
    background: $light-gray !important;
    &__designed {
      color: #fff !important;

      &:hover {
        color: $lightest-slate !important;
      }
    }
  }
}

@media screen and (max-width: $break-medium) {
  .fa-solid {
    display: block;
    font-size: 35px;
  }
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
  }
}
