.page-footer {
  @include flex(row,nowrap,center,center);
  position: absolute;
  width: 100%;
  height: 56px;
  bottom: 0;
  text-align: center;
  background: $black;
  color: $lightest-slate;
  padding: 20px;
  font-weight: 500;
  @media screen and (max-width:$break-large){
    position: relative;
  }
  a {
    color: $lightest-slate;
    font-size: $fz-md;
    line-height: 1;
    transition: $transition;
    &:hover {
      color: $slate;
    }
    &.light-mode {
      color: #fff;
    }
  }
}
