$elianto: 'Elianto',sans-serif;

$index: calc(1vw + 1vh);
$gray: #1c1e1f;
$light-blue: #00b8ff;
$black: #15181b;
$lightest-slate: #ccd6f6;
$slate: #8892b0;
$light-gray: #929292;
$gray-shadow: rgba(2, 12, 27, 0.7);


$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-heading: 32px;
$fz-heading-t: 40px;
$fz-heading-l: 58px;

$tm: 1rem;
$hf: 5rem;
$index: calc(1vw + 1vh);
$transition: 0.5s;