:root {
  --gray: #1c1e1f;
  --light-blue: #00b8ff;
  --black: #15181b;
  --lightest-slate: #ccd6f6;
  --slate: #8892b0;
  --gray-shadow: rgba(2, 12, 27, 0.7);
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --fz-heading-t: 40px;
  --fz-heading-l: 58px;
}

a {
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: var(--gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 12vh;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 0px 6%;
  background-color: #15181b;
  box-shadow: 0 10px 30px -10px var(--gray-shadow);
}
.dot {
  color: var(--slate);
}
.logo {
  cursor: pointer;
  width: 45%;
  filter: contrast(100%);
  transition: var(--transition);
}
.logo:hover {
  cursor: pointer;
  filter: contrast(0%);
}

.header-nav ul {
  position: relative;
  display: flex;
  gap: 80px;
}
ul li {
  position: relative;
  list-style: none;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
ul li a {
  position: relative;
  color: var(--lightest-slate);
  font-size: 2em;
  font-weight: 650;
  margin: 0 5px;
  transition: var(--transition);
}
ul li:hover a {
  color: var(--slate);
}
.fa-solid {
  display: none;
  font-size: 3em;
  color: #c4c0c0;
  cursor: pointer;
}

.static-container {
  display: flex;
  padding: calc(30vh - 10.5rem) 0 0;
  margin: 10vh 15vw 0;
  min-height: 50vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#text-container {
  width: 50%;
}
.welcome {
  color: var(--lightest-slate);
  font-size: 80px;
  font-weight: 700;
}
h2 {
  color: var(--lightest-slate);
  font-size: 50px;
  font-weight: 700;
}
.namesur {
  font-size: 70px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--slate);
  background: url(../images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.job {
  color: var(--slate);
  font-size: 30px;
  font-weight: 700;
  padding: 30px 0 0 0px;
}
.resume {
  margin: 50px 0 0 0;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding: 15px 50px;
  color: var(--lightest-slate);
  overflow: hidden;
  transition: 0.2s;
}
.resume:hover {
  color: var(--gray);
  background: var(--lightest-slate);
  box-shadow: 0 0 10px var(--lightest-slate), 0 0 40px var(--lightest-slate);
}
.text-container {
  width: 750px;
  padding: 50px;
}
.card-cont {
  background-color: #15181b;
  padding: 40px;
  width: 25%;
  height: 570px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  border-radius: 10px;
  text-align: center;
  line-height: 28px;
}
.card-cont:hover {
  transform: scale(1.04);
  filter: drop-shadow(0 0 20px var(--lightest-slate))
    drop-shadow(0 0 40px var(--lightest-slate));
}

.avatar {
  border-radius: 10px;
  width: 150px;
}
.card-cont-name {
  position: relative;
  color: var(--lightest-slate);
  text-decoration: underline;
  text-decoration-color: var(--lightest-slate);
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}
.button {
  cursor: pointer;
  color: var(--lightest-slate);
  background-color: var(--black);
  border: 1px solid var(--slate);
  font-size: var(--fz-lg);
  padding: 0.5em 3em;
  border-radius: 10px;
}
.button:hover {
  color: var(--lightest-slate);
  background-color: var(--gray);
}
.hobbies {
  color: var(--slate);
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: var(--fz-lg);
  font-weight: 510;
}
.cesur {
  font-weight: 550;
}
footer {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  justify-content: center;
  background: var(--black);
  color: var(--lightest-slate);
  padding: 20px;
  margin-top: auto;
  font-weight: 500;
}
.designed {
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  line-height: 1;
  transition: var(--transition);
}
.designed:hover {
  color: var(--slate);
}
@media screen and (max-width: 2260px) {
  .static-container {
    flex-direction: row;
    gap: 100px;
    margin: 10vh 5vw 0;
    padding: calc(30vh - 10.5rem) 0 0;
  }
  .welcome,
  .namesur,
  h2 {
    font-size: var(--fz-heading-l);
  }
  .job,
  .resume {
    font-size: var(--fz-heading);
  }
  .hobbies {
    font-size: var(--fz-md);
  }
  .avatar {
    width: 140px;
  }
  #card-cont {
    width: 25%;
    height: 20%;
  }
  #text-container {
    width: 50%;
  }

  footer {
    font-size: var(--fz-xl);
  }
}
@media screen and (max-width: 1500px) {
  #card-cont {
    width: 40%;
    height: 20%;
  }
}
@media screen and (max-width: 1100px) {
  .fa-solid {
    display: block;
  }

  .header-nav {
    position: fixed;
    margin-left: 70%;
    top: 0;
    right: -60vw;
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    width: 60vw;
    height: 100vh;
    padding: 50px;
    text-align: center;
    z-index: 1;
    transition: var(--transition);
  }
  .header-nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 80%;
  }
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
  }

  .static-container {
    flex-direction: column;
    gap: 50px;
    margin-top: 200px;
    padding: calc(20vh - 10.5rem) 0 0;
  }
  .welcome,
  .namesur,
  h2 {
    font-size: var(--fz-heading-t);
  }
  .job,
  .resume {
    font-size: var(--fz-heading);
  }
  .hobbies {
    font-size: var(--fz-lg);
  }
  .avatar {
    width: 140px;
  }
  #card-cont,
  #text-container {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .logo {
    width: 30%;
  }
  .fa-solid {
    display: block;
  }
  .header-nav {
    position: fixed;
    margin-left: 70%;
    top: 0;
    right: -60vw;
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    width: 60vw;
    height: 100vh;
    padding: 50px;
    text-align: center;
    z-index: 1;
    transition: var(--transition);
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
  }

  .static-container {
    flex-direction: column;
    gap: 50px;
    margin-top: 200px;
    padding: calc(13vh - 10.5rem) 0 0;
  }
  .welcome,
  .namesur,
  h2 {
    font-size: var(--fz-heading-t);
  }
  .job,
  .resume {
    font-size: var(--fz-heading);
  }
  .hobbies {
    font-size: var(--fz-lg);
  }
  .avatar {
    width: 140px;
  }
  #card-cont,
  #text-container {
    width: 80%;
  }

  .designed {
    font-size: var(--fz-md);
  }
}
