:root {
  --gray: #1c1e1f;
  --light-blue: #00b8ff;
  --black: #15181b;
  --lightest-slate: #ccd6f6;
  --slate: #8892b0;
  --light-gray: #929292;
  --gray-shadow: rgba(2, 12, 27, 0.7);
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --fz-heading-t: 40px;
  --fz-heading-l: 58px;
}
.page-header__invisible {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
a {
  text-decoration: none;
}
.light-mode {
  background-color: white;
  color: black;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  box-shadow: 0 0 5px var(--lightest-slate);
  border-radius: 34px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--lightest-slate);
}

input:focus + .slider {
  box-shadow: 0 0 5px var(--lightest-slate);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
body,
h1,
.static-container__introduce,
.page-footer,
.page-header,
.static-container__card-cont,
a {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: var(--gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
}
.page-header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 12vh;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 0px 6%;
  background-color: #15181b;
  box-shadow: 0 10px 30px -10px var(--gray-shadow);
}
.dot {
  color: var(--slate);
}
.page-header__logo {
  cursor: pointer;
  width: 30%;
  filter: contrast(100%);
  transition: var(--transition);
}
.page-header__logo:hover {
  cursor: pointer;
  filter: contrast(0%);
}
.light-mode .page-header__logo:hover {
  cursor: pointer;
  filter: contrast(70%);
}
.page-header__header-nav ul {
  position: relative;
  display: flex;
  gap: 50px;
}
ul li {
  position: relative;
  list-style: none;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
ul li a {
  position: relative;
  color: var(--lightest-slate);
  font-size: 2em;
  font-weight: 650;
  margin: 0 5px;
  transition: var(--transition);
}
ul li:hover a {
  color: var(--slate);
}
.light-mode ul li a {
  color: #fff;
}
.light-mode ul li:hover a {
  color: var(--lightest-slate);
}
.fa-solid {
  display: none;
  font-size: 3em;
  color: #c4c0c0;
  cursor: pointer;
}

.static-container {
  display: flex;
  margin: 8% auto;
  padding: 2%;
  justify-content: center;
  align-items: center;
}
#static-container__text-container {
  width: 50%;
}
.static-container__welcome {
  color: var(--lightest-slate);
  font-size: 80px;
  font-weight: 700;
}
.static-container__introduce {
  color: var(--lightest-slate);
  font-size: 50px;
  font-weight: 700;
}
.static-container__namesur {
  font-size: 70px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--slate);
  background: url(../images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.static-container__job {
  color: var(--slate);
  font-size: 30px;
  font-weight: 700;
  padding: 30px 0 0 0px;
}
.static-container__resume {
  margin: 50px 0 0 0;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding: 15px 50px;
  color: var(--lightest-slate);
  overflow: hidden;
  transition: 0.2s;
}
.static-container__resume:hover {
  color: var(--gray);
  background: var(--lightest-slate);
  box-shadow: 0 0 10px var(--lightest-slate), 0 0 40px var(--lightest-slate);
}
.light-mode .card-cont__name {
  color: #fff;
}
.light-mode .static-container__resume {
  color: var(--slate);
}
.light-mode .static-container__resume:hover {
  color: #fff;
}
.static-container__text-container {
  width: 50%;
  padding: 50px;
}
.static-container__card-cont {
  background-color: #15181b;
  padding: 40px;
  width: 18%;
  height: 570px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  border-radius: 10px;
  text-align: center;
  line-height: 28px;
}
.static-container__card-cont:hover {
  transform: scale(1.04);
  filter: drop-shadow(0 0 20px var(--lightest-slate))
    drop-shadow(0 0 40px var(--lightest-slate));
}

.card-cont__avatar {
  border-radius: 100px;
  border: 3px #fff solid;
  width: 150px;
  transition: var(--transition);
}
.card-cont__avatar:hover {
  transform: scale(1.2);
}
.card-cont__name {
  position: relative;
  color: var(--lightest-slate);
  font-size: var(--fz-heading);
  text-decoration: underline;
  text-decoration-color: var(--lightest-slate);
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}
.card-cont__text-cont {
  margin-top: 30px;
}
.card-cont__button {
  cursor: pointer;
  color: #000;
  background-color: var(--lightest-slate);
  border: 1px solid var(--slate);
  transition: var(--transition);
  font-size: var(--fz-lg);
  padding: 0.5em 3em;
  border-radius: 10px;
}
.card-cont__button:hover {
  color: #fff;
  background-color: var(--slate);
}
.light-mode .card-cont__button {
  color: var(--slate);
  background-color: #fff;
}
.light-mode .card-cont__button:hover {
  color: #fff;
  background-color: var(--lightest-slate);
}

.card-cont__hobbies {
  color: var(--slate);
  padding: 40px 20px;
  font-size: var(--fz-lg);
  font-weight: 510;
}
.card-cont__cesur {
  font-weight: 730;
}
.page-footer {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  justify-content: center;
  background: var(--black);
  color: var(--lightest-slate);
  padding: 20px;
  margin-top: auto;
  font-weight: 500;
}
.page-footer__designed {
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  line-height: 1;
  transition: var(--transition);
}
.page-footer__designed:hover {
  color: var(--slate);
}
.light-mode .page-footer__designed {
  color: #fff;
}
.light-mode .page-footer__designed:hover {
  color: var(--lightest-slate);
}
@media screen and (max-width: 2200px) {
  .static-container {
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
  }
  .static-container__text-container {
    width: 50%;
    padding: 50px;
  }
  .static-container__card-cont {
    background-color: #15181b;
    padding: 40px;
    width: 30%;
    height: 80%;
  }
  .static-container__welcome,
  .static-container__namesur,
  .static-container__introduce {
    font-size: var(--fz-heading-l);
  }
  .static-container__job,
  .static-container__resume {
    font-size: var(--fz-heading);
  }
  .card-cont__hobbies {
    font-size: var(--fz-md);
  }
  .card-cont__avatar {
    width: 140px;
  }

  #static-container__text-container {
    width: 50%;
  }

  page-footer {
    font-size: var(--fz-xl);
  }
}

@media screen and (max-width: 1200px) {
  .static-container {
    display: flex;
    padding: 10%;
    justify-content: center;
    align-items: center;
  }
  .static-container__text-container {
    width: 80%;
    padding: 50px;
  }
  .static-container__card-cont {
    background-color: #15181b;
    padding: 40px;
    width: 50%;
    height: 80%;
  }
  .static-container__welcome,
  .static-container__namesur,
  .static-container__introduce {
    font-size: var(--fz-heading-t);
  }
  .static-container__job,
  .static-container__resume {
    font-size: var(--fz-heading);
  }
  .card-cont__hobbies {
    font-size: var(--fz-lg);
  }
  .card-cont__avatar {
    width: 140px;
  }
}
@media screen and (max-width: 800px) {
  .page-header__logo {
    width: 30%;
  }
  .fa-solid {
    display: block;
  }
  .page-header__header-nav {
    position: fixed;
    margin-left: 70%;
    top: 0;
    right: -60vw;
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    width: 60vw;
    height: 100vh;
    padding: 50px;
    text-align: center;
    z-index: 1;
    transition: var(--transition);
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
  }

  .static-container {
    display: flex;
    margin: 20% auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .static-container__text-container {
    width: 100%;
    padding: 50px;
  }
  .static-container__card-cont {
    background-color: #15181b;
    padding: 40px;
    width: 100%;
    height: 70%;
  }
  .static-container__welcome,
  .static-container__namesur,
  .static-container__introduce {
    font-size: var(--fz-heading-t);
  }
  .static-container__job,
  .static-container__resume {
    font-size: var(--fz-xxl);
  }
  .card-cont__hobbies {
    font-size: var(--fz-lg);
  }
  .card-cont__avatar {
    width: 140px;
  }

  .page-footer__designed {
    font-size: var(--fz-md);
  }
}
